<h1>Answer</h1>

<p><strong>your question:</strong> "<%= @question %>"</p>

<p><strong>coach answer:</strong> "<%= @answer %>"</p>

<%= link_to "ask a new question", ask_path, class: "btn btn-success justify-content-center" %>
